<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>关于我们</title>
		
		<!-- Main style sheet -->
		<link rel="stylesheet" href="/static/css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" href="/static/css/responsive.css">

		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
	</head>
	
	<body>
	
		<div class="main-page-wrapper">

			<!-- Header _________________________________ -->
			<section class="header-section">
				<div class="top-header">
					<div class="container">
						<div class="clear-fix">
							<ul class="float-left top-header-left">
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 传智专修学院</a></li>
								<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> yy2428065460@gmail.com</a></li>
							</ul>
							<ul class="float-right top-header-right">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Theme Main Menu ____________________________ -->
				<div class="theme-main-menu">
					<div class="container">
						<div class="main-menu clear-fix">

							<div class="search-button-content float-right">
								<button class="cart tran3s"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span>2</span></button>
					   			<button class="search b-p-bg-color" id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
					   			<div class="search-box tran5s" id="searchWrapper">
					   				<button id="close-button" class="p-color"><i class="fa fa-times" aria-hidden="true"></i></button>
					   				<div class="container">
					   					<img src="/static/images/them-logo/them-main-logo-1.png" alt="Logo">
					   					<form action="#">
					   						<input type="text" placeholder="Search....">
					   						<button class="p-bg-color"><i class="fa fa-search" aria-hidden="true"></i></button>
					   					</form>
					   				</div>
					   			</div> <!-- /.search-box -->
					   		</div> <!-- /.right-content -->
					   		<div class="them-logo float-left"><a href="#"><img src="/static/images/them-logo/them-main-logo-1.jpg" alt="logo"></a></div>

							<!-- Menu -->
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed tran3s" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
										<span class="sr-only tran3s">Toggle navigation</span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
									</button>
								</div>
								
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="{{ url_for('index_blu.index') }}">主页</a></li>
										<li><a href="{{ url_for('index_blu.gallery') }}">画廊</a></li>
									    <li><a href="{{ url_for('index_blu.about') }}">关于我们</a></li>
										<li><a href="team.html">护理团队</a></li>
										<li><a href="shop.html">购买</a></li>
										<li><a href="shop-details.html">店铺详情</a></li>
										<li><a href="contact-us.html">联系我们</a></li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div> <!-- / menu-skew-div -->
					</div> <!-- /.container main-menu -->
				</div> <!-- /.main-menu -->
			</section>

			<!-- Theme Inner Banner ____________________________ -->
			<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>关于我们</h1>
											<p>宠物爱好者可以依靠Becky的Pet Care进行专业的walking狗和坐宠物。</p>
										</div>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="">
											<a href="#" class="hvr-float-shadow">购买</a>
										</div>
									</div>
								</div>
								<img src="/static/images/about/dog-1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="/">主页</a></li>
							<li><span>-</span></li>
							<li><a href="#">关于我们</a></li>
						</ul>
					</div>
				</div>
			</section>
 
			<!-- banner-bottom-section ____________________________ -->
			<section class="banner-bottom-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="banner-bottom-item">
								<div class="banner-bottom-contante text-center">
									<i class="flaticon-egyptian-cat"></i>
									<h6><a href="#">健康的宠物护理</a></h6>
									<p>我们有超过15年的经验</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="banner-bottom-item">
								<div class="banner-bottom-contante text-center">
									<i class="flaticon-dog-training"></i>
									<h6><a href="#">优质服务</a></h6>
									<p>最好的宠物服务</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="banner-bottom-item">
								<div class="banner-bottom-contante text-center">
									<i class="flaticon-pawprint"></i>
									<h6><a href="#">40元即可购买</a></h6>
									<p>限时5折！！！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- We are myPet ____________________________ -->
			<section class="we-are-my-pet-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="we-are-my-pet-text">
								<span></span>
								<h2>我们 <span>my<span>Pet</span></span></h2>
								<p>欢迎！我们很高兴您想为毛茸茸的朋友探索另一种宠物护理。自1995年以来，我们就一直在利特尔顿社区提供一流的宠物托管和宠物护理服务，并且是“最佳选择”作为宠物寄宿的替代选择</p>
								<p>您的宠物住在自己的家里有很多好处。他们之中有一些是; 不得接触狗窝咳嗽，犬流感和寄生虫等疾病。无论是水疗日，游玩日期，过夜，训练课程还是兽医护理，我们都会与训练有素的热忱员工共同为您提供最好的宠物服务。服务位于我们大多数PetSmart商店内，十分方便。</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="we-are-my-pet-img">
								<img src="/static/images/home/img-1.jpg" alt="image">
								<div></div>
							</div>
						</div>
					</div>

					<div class="about-us-we-are-my-pet">
						<h4>关于我们</h4>
						<div class="row">
							<div class="col-md-5 col-xs-12">
								<div class="about-us-dog-years">
									<p>20年来，我们一直像对待家人一样对待您的宠物。</p>
									<span>(按狗的年龄计算是140岁。)</span>
									<div><img src="/static/images/about/cat-dog-2.png" alt=""></div>
								</div>
							</div>
							<div class="col-md-7 col-xs-12">
								<div class="about-us-tex">
									<p>在为您的猫或狗提供绝对最佳护理时，“最佳朋友宠物护理”是包装的领导者。在包括沃尔特迪斯尼乐园在内的20个州设有52个中心和医院，我们最先进的设施为您的宠物提供安全，清洁和有趣的环境，让您的小动物或猫科动物有家的感觉。</p>
									<p>无论您的宠物需要在耳朵上刮擦，舔脸还是在玩耍的地方，您最好的朋友都会像我们一样照顾自己。宠物，请客吗？来。坐。停留片刻。我们认为您会明白为什么它是“最适合与朋友在一起的人”的原因。</p>
									<p>我们的旗舰中心于1996年开业，并在宠物护理方面树立了新的标准，并获得了国家的赞誉。从健身课程到就寝故事，我们提供广泛的活动和服务菜单，因此您可以为宠物设计一个完美的假期。</p>
								</div>
							</div>
						</div>
						<div class="about-us-we-are-mypet-video">
							<img src="/static/images/about/img-1.jpg" alt="image">
							<div>
								<a data-fancybox href="https://www.bilibili.com/video/BV1mp4y1a7Jc" class="tran3s"><i class="flaticon-play-button"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Company History _________________________________ -->
			<section class="company-history-section">
				<div class="company-history-shape-img-top"><img src="/static/images/shape-1.png" alt="shape-img"></div>
				<div class="company-history-containt-opact">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-one">
										<div>
											<i class="flaticon-handshake"></i>
											<p>客户满意数</p>
											<h2><span class="timer" data-from="0" data-to="210" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-two">
										<div>
											<i class="flaticon-satisfaction"></i>
											<p>客户满意度</p>
											<h2><span class="timer" data-from="0" data-to="100" data-speed="2000" data-refresh-interval="5">0</span>%</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-xs-6 history-item-weight col-item-three">
								<div class="clear-fix">
									<div class="history-item item-three">
										<div>
											<i class="flaticon-construction"></i>
											<p>宠物托管</p>
											<h2><span class="timer" data-from="0" data-to="95" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-xs-6 history-item-weight">
								<div class="clear-fix">
									<div class="history-item item-four">
										<div>
											<i class="flaticon-medal"></i>
											<p>获奖情况</p>
											<h2><span class="timer" data-from="0" data-to="234" data-speed="2000" data-refresh-interval="5">0</span></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Our pet health ____________________________ -->
			<section class="our-pet-health-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="our-work-process">
								<h4>我们的宠物保健系统</h4>
								<p>宠物护理兽医医院的医生和工作人员具有多年治疗各种爬行动物的经验，包括胡子龙，壁虎，蛇和乌龟。我们的医院为您的宠物雪貂提供身体检查，疫苗接种，营养，行为和环境方面的丰富信息。</p>
								<div class="row">
									<div class="col-xs-6">
										<div class="">
											<i class="flaticon-dog-training"></i>
											<h6><a href="#">送货上门</a></h6>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="">
											<i class="flaticon-snowshoe-cat"></i>
											<h6><a href="#">宠物质量</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="doing-the-right-thing">
								<h5>您最正确的事就是发现了我们的产品</h5>
								<p>我们的兽医和工作人员理解你和你的宠物之间特殊关系的重要性，并致力于提供最好的现代兽医护理</p>
								<div class="inspiration-tab">
									<div class="inspiration-panel">
										<div class="panel-group theme-accordion" id="accordion">
										  <div class="panel">
										    <div class="panel-heading active-panel">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
										        值得信赖的宠物保姆</a>
										      </h6>
										    </div>
										    <div id="collapse1" class="panel-collapse collapse in">
										      <div class="panel-body">
										      	<p>宠物保姆们可以在您工作繁忙之际，或者出远门旅行之时，帮您照顾您的爱宠，接受上门服务</p>
										      </div>
										    </div>
										  </div> <!-- /panel 1 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
										        我可以用什么款待我的鸟呢?</a>
										      </h6>
										    </div>
										    <div id="collapse2" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>我们将会为您的爱鸟提供优质的食物和居住环境，远离闹市和城区，并且每天会有专人进行遛鸟工作</p>
										      </div>
										    </div>
										  </div> <!-- /panel 2 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
										        当你的兔子停止进食</a>
										      </h6>
										    </div>
										    <div id="collapse3" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>我们猜测可能是您的爱兔生病了或者因为环境因素，引起了应激反应，我们拥有着专业的宠物医生，免费为您的爱兔治疗</p>
										      </div>
										    </div>
										  </div> <!-- /panel 3 -->
										</div> <!-- end #accordion -->
									</div> <!-- End of .inspiration-panel -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Client Review ____________________________ -->
			<div class="client-slider about-us-client-slider">
				<div class="opacity">
					<div class="container">
						<div class="them-title text-center">
							<span></span>
							<h2>Client Review</h2>
						</div> <!-- /.theme-title -->

						<div class="testimonial-slider">
							<div id="client-review-slider" class="owl-carousel owl-theme">
								<div class="item">
									<div class="clearfix">
										<img src="/static/images/home/img-8.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Mahfuz Riad</h6>
											<p>CEO, Company</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
								<div class="item">
									<div class="clearfix">
										<img src="/static/images/home/img-9.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Abdur Rob</h6>
											<p>CEO, Developer</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
								<div class="item">
									<div class="clearfix">
										<img src="/static/images/home/img-8.jpg" alt="" class="float-left">
										<div class="name float-left">
											<h6>Mahfuz Riad</h6>
											<p>CEO, Company</p>
										</div> <!-- /.name -->
									</div> <!-- /.clearfix -->
									<div class="text">
										<p>I’ve been happy with the services provided by Finazi LLC. Felix has been wonderful! He has returned my calls quick-ly, and he answered all my questions.</p>
									</div>
								</div> <!-- /.item -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.client-slider -->

			<!-- Partner Logo ____________________________ -->
	        <div class="partners-section">
				<div class="container">
					<div class="">
						<div id="partner-logo" class="owl-carousel owl-theme">
							<div class="item"><div><img src="/static/images/home/slide-logo-1.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-2.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-3.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-4.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-2.png" alt="logo"></div></div>
						</div> <!-- End .partner_logo -->
					</div>
				</div>
			</div>

			<!-- Footer ____________________________ -->
			<footer>
				<div class="container">
					<div class="top-footer row">
						<div class="col-md-5 col-sm-7 col-xs-12 footer-logo">
							<a href="#"><img src="/static/images/them-logo/them-main-logo-2.jpg" alt="Logo"></a>
							<p><span class="p-color">myPet</span> was established in 2017 by Pet business veterans, Rod Davies and Matthew Levington, the journey began when founders Matthew Levington and Rod Davies, met up in 2017 over a beer</p>
							<ul class="icon">
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>

							<ul class="policy">
								<li><a href="" class="tran3s">Privacy Policy </a></li>
								<li><a>|</a></li>
								<li><a href="" class="tran3s">Legal Policy</a></li>
							</ul>
						</div> <!-- /.footer-logo -->

						<div class="col-md-4 col-sm-5 col-xs-12 footer-list">
							<h5>Important Links</h5>

							<ul>
								<li><a href="#" class="tran3s">Support</a></li>
								<li><a href="#" class="tran3s">About us </a></li>
								<li><a href="#" class="tran3s">Project</a></li>
								<li><a href="shop.html" class="tran3s">Shop</a></li>
								<li><a href="#" class="tran3s">Performance</a></li>
								<li><a href="#" class="tran3s">News</a></li>
								<li><a href="#" class="tran3s">Pet Health Food</a></li>
							</ul>
							<ul>
								<li><a href="#" class="tran3s">Pet</a></li>
								<li><a href="#" class="tran3s">Our History</a></li>
								<li><a href="#" class="tran3s">What We Do</a></li>
								<li><a href="#" class="tran3s">Living Areas</a></li>
								<li><a href="#" class="tran3s">Pet Product</a></li>
								<li><a href="contact-us.html" class="tran3s">Contact us</a></li>
							</ul>
						</div> <!-- /.footer-list -->

						<div class="col-md-3 col-xs-12 footer-news">
							<h5>News Update</h5>

							<ul>
								<li>
									<h6><a href="#" class="tran3s">Prefinished Solid Hardwood Flooring</a></h6>
									<span>january 02,2017</span>
								</li>
								<li>
									<h6><a href="#" class="tran3s">Latst pet care in summer 12 care them well</a></h6>
									<span>january 02,2017</span>
								</li>
							</ul>
						</div> <!-- /.footer-news -->
					</div> <!-- /.top-footer -->
				</div> <!-- /.container -->

				<div class="bottom-footer">
					<div class="container">
						<p class="float-left">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
						<form action="#" class="float-right">
							<input type="text" placeholder="Your Email">
							<button class="tran3s p-bg-color">Subscribe</button>
						</form>
					</div> <!-- /.container -->
				</div> <!-- /.bottom-footer -->
			</footer>
			
		</div> <!-- /.main-page-wrapper -->
		

		<!-- Scroll Top Button -->
		<button class="scroll-top tran7s p-color-bg">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>

		<!-- pre loader  -->
	 	<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
	


		<!-- js file -->
		<!-- Main js file/jquery -->
		<script src="/static/vendor/jquery-2.2.3.min.js"></script>
		<!-- bootstrap-select.min.js -->
		<script src="/static/vendor/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
		<!-- bootstrap js -->
		<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- camera js -->
		<script src="/static/vendor/Camera-master/scripts/camera.min.js"></script>
		<script src="/static/vendor/Camera-master/scripts/jquery.easing.1.3.js"></script>
		<!-- Owl carousel -->
		<script src="/static/vendor/OwlCarousel2/dist/owl.carousel.min.js"></script>
		<!-- appear & countTo -->
		<script src="/static/vendor/jquery.appear.js"></script>
		<script src="/static/vendor/jquery.countTo.js"></script>
		<!-- fancybox -->
		<script src="/static/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Gallery - isotop -->
		<script type="text/javascript" src="/static/vendor/isotope.pkgd.min.js"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="/static/vendor/WOW-master/dist/wow.min.js"></script>
		<!-- Circle Progress -->
		<script type="text/javascript" src="/static/vendor/circle-progress.js"></script>
		<!-- Style js -->
		<script src="/static/js/custom.js"></script>

	</body>
</html>
