<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交订单</title>
    <link href="/static/css/public.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <script type="text/javascript" src="/static/js/jquery_cart.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/buyConfirm.css"/>
    <script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/static/js/unslider.min.js" type="text/javascript"></script>
    <script src="/static/js/index.js" type="text/javascript"></script>
    <script type="text/javascript">

        window.onload = function () {
            new tab('test4-input-input_tab1-input_tab2', '-');
        }

        function tab(o, s, cb, ev) { //tab换类
            var $ = function (o) {
                return document.getElementById(o)
            };
            var css = o.split((s || '_'));
            if (css.length != 4) return;
            this.event = ev || 'onclick';
            o = $(o);
            if (o) {
                this.ITEM = [];
                o.id = css[0];
                var item = o.getElementsByTagName(css[1]);
                var j = 1;
                for (var i = 0; i < item.length; i++) {
                    if (item[i].className.indexOf(css[2]) >= 0 || item[i].className.indexOf(css[3]) >= 0) {
                        if (item[i].className == css[2]) o['cur'] = item[i];
                        item[i].callBack = cb || function () {
                        };
                        item[i]['css'] = css;
                        item[i]['link'] = o;
                        this.ITEM[j] = item[i];
                        item[i]['Index'] = j++;
                        item[i][this.event] = this.ACTIVE;
                    }
                }
                return o;
            }
        }

        tab.prototype = {
            ACTIVE: function () {
                var $ = function (o) {
                    return document.getElementById(o)
                };
                this['link']['cur'].className = this['css'][3];
                this.className = this['css'][2];
                try {
                    $(this['link']['id'] + '_' + this['link']['cur']['Index']).style.display = 'none';
                    $(this['link']['id'] + '_' + this['Index']).style.display = 'block';
                } catch (e) {
                }
                this.callBack.call(this);
                this['link']['cur'] = this;
            }
        }
    </script>
</head>

<body>
<!--顶部快捷菜单-->
<div class="shortcut_v2013 alink_v2013">
    <div class="w">
        <ul class="fl 1h">
            <li class="fl">
                <div class="menu">
                    <div class="menu_hd">
                        <a href="#">
                            宠物之家
                        </a>
                        <b><em></em></b></div>
                    <div class="menu_bd">
                        <ul>
                            <li><a href="#">App For Android</a></li>
                            <li><a href="#">App For IOS</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="fl"><i class="shortcut_s"></i></li>
        </ul>
        <ul class="fr 1h">
            <li class="fl"><div class="menu_hd"><a href="/index/shopping_cart">购物车</a></div></li>
            <li class="fl"><i class="shortcut_s"></i></li>
            <li class="fl"><div class="menu_hd"><a href="/index/order">我的订单</a></div></li>
            <li class="fl"><i class="shortcut_s"></i></li>


        </ul>
        <span class="clr"></span>
    </div>
</div>
<!--顶部快捷菜单-->


<!--顶部Logo及搜索-->
<div class="header_2013">
    <div class="w">
        <div class="logo_v2013">
            <a href="#">
                <img class="border_r" src="/static/images/them-logo/them-main-logo-1.png" >
            </a>
        </div>

        <div id="cart_box" class="cart_box">
            <a id="cart" class="cart_link" href="#" rel="nofollow">
                <span class="text">去购物车结算</span>
                <img src="/static/images/shopping_icon.png" width="24" height="24" class="cart_gif">

                <!-- 购物车没有物品时，隐藏此num -->
                <span class="num">1</span>
                <s class="icon_arrow_right"></s>
            </a>

            <div class="cart_content" id="cart_content">
                <i class="cart-icons"></i>
                <!-- 购物车没有物品时，显示cart_content_null、隐藏cart_content_all -->

                    <div class="cart_content_center">
                        <div class="cart_con_single">
                            <div class="single_pic">
                                <a href="#" target="_blank" alt="兰蔻 (Lancome)根源补养洁颜啫哩 125ml">
                                    <img src="/static/images/shop/hl.1.jpg"/>
                                </a>
                            </div>
                            <div class="single_info">
                                <a href="#" target="_blank" alt="兰蔻 (Lancome)根源补养洁颜啫哩 125ml" class="name">狗狗消化护理</a>
                                <span class="price">￥69.00</span>
                                <span class="price_plus"> x </span>
                                <span class="price_num">1</span>
                            </div>
                        </div>
                    </div>
                    <div class="con_all">
                        <div class="price_whole"><span>共<span class="num_all">1</span>件商品</span></div>
                        <div><span class="price_gongji">共计<em>￥</em><span class="total_price">69</span></span><a
                                href="#" class="cart_btn" rel="nofollow">去购物车结算</a></div>
                    </div>
                </div>
            </div>
        </div>
        <span class="clr"></span>
    </div>
</div>
<!--顶部Logo及搜索-->

<!--  导航条    start-->
<div class="yHeader">
    <div class="shop_Nav">
        <div class="pullDown">
            <h2 class="pullDownTitle"><i></i>全部商品分类</h2>
        </div>

        <ul class="Menu_box">
            <li><a href="" target="_blank" class="yMenua">首页</a></li>
            <li><a href="" target="_blank">大划算</a></li>
            <li><a href="" target="_blank">抢拍</a></li>
            <li><a href="" target="_blank">锡货专场</a></li>
            <li><a href="" target="_blank">锡货超市</a></li>
        </ul>
        <div class="fr r_icon"><i class="i01"></i><span>30天退货</span><i class="i02"></i><span>满59包邮</span></div>
    </div>
</div>
<!--  导航条    end-->


<div class="banner_red_top">


</div>


<!--订单提交body部分开始-->


<div class="border_top_cart">

    <div class="container payment-con">
        <form target="_blank" action="#" id="pay-form" method="post">
            <div class="order-info">
                <div class="msg">
                    <h3>您的订单已提交成功！付款咯～</h3>
                    <p></p>

                    <p class="post-date">成功付款后，7天发货</p>
                </div>
                <div class="info">
                    <p>
                        金额：<span class="pay-total">69.00元</span>
                    </p>
                    <p>
                        订单：1150505740045173 </p>
                    <p>
                        配送：杨x <span class="line">/</span>
                        198****5274 <span class="line">/</span>
                        江苏 宿迁 沭阳区 传智专修学院 <span class="line">/</span>
                        不限送货时间 <span class="line">/</span>
                        个人电子发票 </p>
                </div>
                <div class="icon-box">
                    <i class="iconfont"><img src="/static/images/yes_ok.png"></i>
                </div>
            </div>

            <div class="xm-plain-box">
                <!-- 选择支付方式 -->
                <div class="box-hd bank-title clearfix">
                    <div id="titleWrap" class="title-wrap">
                        <h2 class="title">选择支付方式</h2>
                        <h2 class="title hide ">你还需要继续支付 <em>69.00</em> 元</h2>
                        <span class="tip-tag"></span>
                    </div>
                </div>
                <div class="box-bd" id="bankList">
                    <div class="payment-bd">
                        <form name="ck">
                            <dl class="clearfix payment-box">
                                <dt>
                                    <strong>支付平台</strong>
                                    <p>手机等大额支付推荐使用支付宝快捷支付</p>
                                </dt>
                                <dd>
                                    <fieldset id="test4-input-input_tab1-input_tab2" style=" border:none;">
                                        <ul class="payment-list clearfix">
                                            <li><input class="input_tab1" name="myradio" id="r1" type="radio"
                                                       checked="checked"/><label for="r1"><img src="images/xhw.png"
                                                                                               alt=""/></label></label>
                                            </li>
                                            <li><input class="input_tab2" name="myradio" id="r2" type="radio"/><label
                                                    for="r2"><img src="images/zfb.png" alt=""/></label></li>
                                            <li><input class="input_tab2" name="myradio" id="r2" type="radio"/><label
                                                    for="r2"><img src="images/yck.png" alt=""/></label></li>
                                            <li><input class="input_tab2" name="myradio" id="r2" type="radio"/><label
                                                    for="r2"><img src="images/zxzf.png" alt=""/></label></li>
                                        </ul>
                                        <div>
                                            <div id="test4_1">
                                                <ul class="payment-list clearfix" style="background-color:#f3f3f3;   ">
                                                    <div class="xhw">
                                                        <div class="whx_banner">
                                                            <div style="clear:both"><p class="p1">请选择锡货卡：</p>
                                                                <p class="p2">对不起，没有可用的锡货卡！</p><a class="a3" href="#">立即去充值</a>
                                                            </div>
                                                            <div style="clear:both"><p class="p1">已绑定手机号：</p>
                                                                <p class="a3">15961726437</p></div>
                                                            <div style="clear:both"><p class="p1">短信效验码</p><input
                                                                    id="mobileCode" name="mobileCode" type="text"
                                                                    value=""><input id="send" type="button"
                                                                                    style="cursor:hand"
                                                                                    value="点击获取手机验证码"
                                                                                    onclick="sendMobileCode()"></div>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div id="test4_2" style="display:none;">

                                            </div>
                                            <div id="test4_3" style="display:none;">

                                            </div>
                                            <div id="test4_4" style="display:none;">

                                            </div>


                                        </div>
                                    </fieldset>
                                </dd>
                            </dl>
                        </form>




                    </div>
                </div>
                <div class="box-ft clearfix">
                    <a href="{{ url_for('index_blu.index') }}"> <span type="submit" class="btn btn-primary" id="payBtn">回到主页</span></a>
                    <a href="{{ '/index/order' }}" class="btn btn-lineDakeLight">修改订单</a>
                    <span class="tip"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- 支付弹框 -->
    <div class="modal hide to-pay-tip" id="toPayTip">
        <div class="modal-header">
        <span class="close" id="toPayTipClose">
            <i class="iconfont">&#xe617;</i>
        </span>
            <h3>正在支付...</h3>
        </div>
        <div class="modal-body">
            <div class="pay-tip clearfix">
                <div class="fail">
                    <h4>如果支付失败...</h4>
                    <p>额度问题，推荐<a href="#" id="alipayTrigger">支付宝快捷支付 &gt;</a></p>
                    <p>其他问题，查看<a href="#">支付常见问题 &gt;</a></p>
                </div>
                <div class="success">
                    <h4>支付成功了</h4>
                    <p>立即查看<a href="#" target="_blank">订单详情 &gt;</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 余额支付弹框 -->
    <div class="modal hide  balance-pay" id="balancePay">
        <div class="modal-body">
            <h3>账户余额支付：<span class="num"><em id="useCashAccountPayLeft">0.00</em>元</span></h3>
            <p id="checkCodeTip">短信验证码已下发至您的手机<span class="num"></span></p>
            <input type="text" name="verifycode" id="verifycode" class="input" placeholder="请输入验证码"> <span
                class="send-again" id="sendAgain">重新发送<em></em></span>
            <p><input type="button" value="确认支付" class="btn btn-primary" id="toPay">
                <div class="select-other">
            <p><span id="bankName"></span> <span class="num">69.00元</span></p>

        </div>
        <a href="javascript:;" id="chooseOther">选择其他方式支付&gt;</a>
    </div>

</div>


<script src="/static/js/base.min.js"></script>

<script type="text/javascript" src="/static/js/buyConfirm.js"></script>

</div>


<!--订单提交body部分结束-->


<!-- 底部 -->


</body>
</html>
