<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>联系我们</title>
		
		<!-- Main style sheet -->
		<link rel="stylesheet" href="/static/css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" href="/static/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script type="text/javascript" src="/static/js/main.js"></script>

		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->
	</head>
	
	<body>
	
		<div class="main-page-wrapper">

			<!-- Header _________________________________ -->
			<section class="header-section">
				<div class="top-header">
					<div class="container">
						<div class="clear-fix">
							<ul class="float-left top-header-left">
								<li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 传智专修学院</a></li>
								<li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> yy2428065460@gmail.com</a></li>
							</ul>
							{% if not nick_name %}
							<div class="float-right ">
                                <a href="javascript:;" class="login_btn">登录</a> / <a href="javascript:;" class="register_btn">注册</a>
                            </div>
							{% else %}
                            <div class="user_login fr">
                                <img src="/static/images/upload/{{ user.avatar_url }}" class="lgin_pic" >
                                <a href="{{ url_for('user_blu.user_center') }}" >{{ nick_name }}</a>
                                <a href="/passport/logout">退出</a>
							</div>
                            {% endif %}
						</div>
					</div>
				</div>
				
				<!-- Theme Main Menu ____________________________ -->
				<div class="theme-main-menu">
					<div class="container">
						<div class="main-menu clear-fix">

							<div class="search-button-content float-right">
								<button class="cart tran3s"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span>2</span></button>

					   		</div> <!-- /.right-content -->
					   		<div class="them-logo float-left"><a href="#"><img src="/static/images/them-logo/them-main-logo-1.jpg" alt="logo"></a></div>

							<!-- Menu -->
							<nav class="navbar">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed tran3s" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
										<span class="sr-only tran3s">Toggle navigation</span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
										<span class="icon-bar tran3s"></span>
									</button>
								</div>
								
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li><a href="{{ url_for('index_blu.index') }}">主页</a></li>
										<li><a href="{{ url_for('index_blu.gallery') }}">画廊</a></li>
									    <li><a href="{{ url_for('index_blu.about') }}">关于我们</a></li>
										<li><a href="{{ url_for('index_blu.team_data') }}">护理团队</a></li>
										<li><a href="{{ url_for('index_blu.shop') }}">购买</a></li>
										<li><a href="{{ url_for('index_blu.shop_details') }}">店铺详情</a></li>
										<li><a href="{{ url_for('index_blu.contact_us') }}">联系我们</a></li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</nav>
						</div> <!-- / menu-skew-div -->
					</div> <!-- /.container main-menu -->
				</div> <!-- /.main-menu -->
			</section>

			<!-- Theme Inner Banner ____________________________ -->
			<section class="">
				<div class="them-inner-banner">
					<div class="inner-banner-opact">
						<div class="container">
							<div class="inner-banner-title">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<div class="">
											<h1>联系我们</h1>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="inner-banner-bottom">
					<div class="container">
						<ul>
							<li><a href="/">Home</a></li>
							<li><span>-</span></li>
							<li><a href="#">Contact Page</a></li>
						</ul>
					</div>
				</div>
			</section>

			<!-- contact-us ____________________________ -->
			<section class="contact-us">
				<div class="container">
					<div class="services-details-help">
						<div class="">
							<h3>致电(+86)19852744199了解我们如何帮助您为宠物提供最佳护理</h3>
							<p>或填写我们的新客户表格以开始使用。</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-xs-12 float-right">
							<div class="get-in-touch-with-us">
								<h5>联系我们</h5>
								<p>请与我们联系</p>
								<ul>
									<li>
										<img src="/static/images/them-logo/icon-1.png" alt="icon">
										<h6>Visit Our Place</h6>
										<span>二号楼1001室。</span>
										<span>翻斗大街翻斗花园</span>
									</li>
									<li>
										<img src="/static/images/them-logo/icon-2.png" alt="icon">
										<h6>快速联络</h6>
										<span>Ph: +86 19852744199</span>
										<span>Email: yy24228065460@gmail.com</span>
									</li>
									<li>
										<img src="/static/images/them-logo/icon-3.png" alt="icon">
										<h6>办公室时间表</h6>
										<span>周一至周六：09：00am至18.00pm</span>
										<span>周日：休息</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<div class="contact-form">
								<h5>给我们留言</h5>
								<form class="form-validation" autocomplete="off">
									<input type="text" placeholder="您的名字 *" name="name">
									<input type="email" placeholder="您的电子邮件 *" name="email">
									<input type="text" placeholder="学科/职业 *" name="sub">
									<textarea placeholder="您的留言 *" name="message"></textarea>
									<button class="hvr-float-shadow">提交</button>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="contact-map">
					<div class="container icon-img"></div>
					<!-- Google Map _______________________ -->
					<div id="map"></div>
				</div>
			</section>

			<!-- Partner Logo ____________________________ -->
	        <div class="partners-padding-fix">
				<div class="container">
					<div class="">
						<div id="partner-logo" class="owl-carousel owl-theme">
							<div class="item"><div><img src="/static/images/home/slide-logo-1.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-2.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-3.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-4.png" alt="logo"></div></div>
							<div class="item"><div><img src="/static/images/home/slide-logo-2.png" alt="logo"></div></div>
						</div> <!-- End .partner_logo -->
					</div>
				</div>
			</div>

			<!-- Footer ____________________________ -->
			<footer>
				<div class="container">
					<div class="top-footer row">
						<div class="col-md-5 col-sm-7 col-xs-12 footer-logo">
							<a href="#"><img src="/static/images/them-logo/them-main-logo-2.jpg" alt="Logo"></a>
							<p><span class="p-color">myPet</span> 由YY超人和他的团队于2018年创立的，在此前，YY超人和他的团队伙伴们已经以团队的形式帮助了许多的宠物和。</p>
							<ul class="icon">
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>

							<ul class="policy">
								<li><a href="" class="tran3s">Privacy Policy </a></li>
								<li><a>|</a></li>
								<li><a href="" class="tran3s">Legal Policy</a></li>
							</ul>
						</div> <!-- /.footer-logo -->

						<div class="col-md-4 col-sm-5 col-xs-12 footer-list">
							<h5>Important Links</h5>

							<ul>
								<li><a href="#" class="tran3s">Support</a></li>
								<li><a href="#" class="tran3s">About us </a></li>
								<li><a href="#" class="tran3s">Project</a></li>
								<li><a href="shop.html" class="tran3s">Shop</a></li>
								<li><a href="#" class="tran3s">Performance</a></li>
								<li><a href="#" class="tran3s">News</a></li>
								<li><a href="#" class="tran3s">Pet Health Food</a></li>
							</ul>
							<ul>
								<li><a href="#" class="tran3s">Pet</a></li>
								<li><a href="#" class="tran3s">Our History</a></li>
								<li><a href="#" class="tran3s">What We Do</a></li>
								<li><a href="#" class="tran3s">Living Areas</a></li>
								<li><a href="#" class="tran3s">Pet Product</a></li>
								<li><a href="contact-us.html" class="tran3s">Contact us</a></li>
							</ul>
						</div> <!-- /.footer-list -->

						<div class="col-md-3 col-xs-12 footer-news">
							<h5>News Update</h5>

							<ul>
								<li>
									<h6><a href="#" class="tran3s">网上宠物医生来了！！！</a></h6>
									<span>january 02,2017</span>
								</li>
								<li>
									<h6><a href="#" class="tran3s">在夏天要好好护理您的宠物哦。</a></h6>
									<span>january 02,2017</span>
								</li>
							</ul>
						</div> <!-- /.footer-news -->
					</div> <!-- /.top-footer -->
				</div> <!-- /.container -->

				<div class="bottom-footer">
					<div class="container">
						<p class="float-left">Copyright &copy; 2017.Company name All rights reserved.</p>
						<form action="#" class="float-right">
							<input type="text" placeholder="Your Email">
							<button class="tran3s p-bg-color">Subscribe</button>
						</form>
					</div> <!-- /.container -->
				</div> <!-- /.bottom-footer -->
			</footer>
			
		</div> <!-- /.main-page-wrapper -->
		

		<!-- Scroll Top Button -->
		<button class="scroll-top tran7s p-color-bg">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>

		<!-- pre loader  -->
	 	<div id="loader-wrapper">
			<div id="loader"></div>
		</div>
	


		<!-- js file -->
		<!-- Main js file/jquery -->
		<script src="/static/vendor/jquery-2.2.3.min.js"></script>
		<!-- bootstrap-select.min.js -->
		<script src="/static/vendor/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
		<!-- bootstrap js -->
		<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- camera js -->
		<script src="/static/vendor/Camera-master/scripts/camera.min.js"></script>
		<script src="/static/vendor/Camera-master/scripts/jquery.easing.1.3.js"></script>
		<!-- Owl carousel -->
		<script src="/static/vendor/OwlCarousel2/dist/owl.carousel.min.js"></script>
		<!-- appear & countTo -->
		<script src="/static/vendor/jquery.appear.js"></script>
		<script src="/static/vendor/jquery.countTo.js"></script>
		<!-- fancybox -->
		<script src="/static/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
		<!-- Gallery - isotop -->
		<script type="text/javascript" src="/static/vendor/isotope.pkgd.min.js"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="/static/vendor/WOW-master/dist/wow.min.js"></script>
		<!-- Circle Progress -->
		<script type="text/javascript" src="/static/vendor/circle-progress.js"></script>
		<!-- Validation -->
		<script type="text/javascript" src="/static/vendor/contact-form/validate.js"></script>
		<script type="text/javascript" src="/static/vendor/contact-form/jquery.form.js"></script>
		<!-- Google map js -->
		<!---<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyCjQLCCbRKFhsr8BY78g2PQ0_bTyrm_YXU" type="text/javascript"></script>
		<script src="vendor/sanzzy-map/dist/snazzy-info-window.min.js"></script>--->
		<!-- Style js -->
		<script src="/static/js/custom.js"></script>
		<!-- map script js -->
		<script type="text/javascript" src="/static/js/map-script.js"></script>

	</body>
</html>
